 /* Base styles */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 40px 20px 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    bottom: 0;
}

footer a {color:white}
/* Mobilie layout */
@media (max-width: 915px) {
    .container {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
    }

    footer {
        width:100%;
        display:flex;
        flex-direction: column;
    }

    .column {
        padding-bottom: 40px;
    }
}

/* Two-column layout */
@media (min-width: 916px) {
    .container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .row {
        display: flex;
    }

    .column {
        flex: 1
    }
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
}

/* Main content styles */
main {
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #ccffff;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 0;
}

nav ul li {
    padding: 16px 24px
}

.navbar a:hover {
    background-color: #ccffcc;
    color: blue;
}

.navbar a.active {
    background-color: #000033;
    color: white;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.logo {
    margin-right: 10px;
}

.logo img {
    width: 30vw;
    /* Set the width of the logo to 15% of the viewport width */
    max-width: 250px;
    max-height: 100px
        /* Set the maximum width of the logo to 100 pixels */
}
#frontofRAC img{
    height: 40vw;
max-height:300px;
max-width:200px}


.box {
    width: 200px;
    height: 200px;
    display: flex;
    position: relative;
    flex: 1
}

.outbox {
    max-width: 200px;
    padding: 0 40px 0px 0px;
    justify-content: center;
    align-items: center;
    
}

body {
    flex-direction: row;
}

.box a {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    text-align: center;
    color: white;
    text-decoration: none;
}

.logo {
    margin-right: 10px;
}

.box img {
    width: 100vw;
    /* Set the width of the logo to 100% of the viewport width */
    max-width: 200px;
    max-height: 200px
        /* Set the maximum width of the logo to 100 pixels */
}

.learnmore {
    height: 15px;
    background-color: #ccffff;
    float: right;
    padding: 3px 10px 3px 10px ;
    text-align: center;
    font-size: 12px;
   
}
.learnmore a{color:black; text-decoration: none;}